setuptools >= 17.1.0
tornado
tzlocal
sockjs-tornado
requests
sqlalchemy
alembic
selenium
PyJWT
PyCrypto
ply
zss
mock
MySQL-python
torndb
six
python-dateutil
numpy
scipy
pandas
simplejson
ipython[notebook] >= 2.0
