<div id="hints_area" collapse="editedHint">
  <h3>Hints</h3>
  <table class="table table-bordered" id="hints_table" st-table="displayed_hints" st-safe-src="hints">
    <thead>
      <tr>
        <th class="st-sortable" st-sort="hint_id">ID</th>
        <th> Students list </th>
        <th class="st-sortable" st-sort="pg_text">PG Text</th>
        <th class="st-sortable" st-sort="author">Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="hint in displayed_hints">
        <td>{{hint.hint_id}}</td>
        <td>
          <div class="panel-heading" style="padding:0;">
              <a data-toggle="collapse" data-parent="#users_list" data-target="#collapse{{$parent.$index}}_{{$index}}"
              ng-click="show_assigned_hints_by_hint(hint)">
              students-->
              </a>
          </div>
          <div id="collapse{{$parent.$index}}_{{$index}}" class="panel-collapse collapse">
            <div class="panel-body" style="padding:0px; border:1px solid #ccc;">
              <a ng-repeat="user in hint.students" ui-sref="problem_user({course: course, set_id: setId, problem_id: problemId, user_id: user})"> {{user}} </a>
            </div>
          </div>
        </td>
        <td>{{hint.pg_text}}</td>
        <td>{{hint.author}}</td>
        <td class="nostretch">
          <button type="button" class="btn btn-primary" ng-click="preview_hint(hint)" title="Preview Hint"><span class="glyphicon glyphicon-eye-open"></span></button>
          <button type="button" class="btn btn-primary" ng-click="edit_hint(hint)" title="Edit Hint"><span class="glyphicon glyphicon-pencil"></span></button>
          <button type="button" class="btn btn-danger" title="Delete Hint" ng-click="delete_hint(hint)"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary btn-lg" ng-click="new_hint()">
        Create New Hint
      </button>
    </div>
  </div>
</div>
<div id="hint_preview_container" ng-if="rendered_hint">
  <h4>Preview</h4>
  <div class="row">
    <div class="col-md-8">
      <div id="hint_html" class="hint_html" ng-bind-html="rendered_hint"></div>
    </div>
    <div class="col-md-4" >
      <div class="alert alert-warning" ng-show="!selectedBox" ng-if="enableSend"><strong>Select part to send hint to!</strong></div>
      <button type="button" class="btn btn-primary" ng-click="send_hint()" ng-disabled="!selectedBox" ng-if="enableSend">Send Hint</button>
      <button type="button" class="btn" ng-click="cancel_hint()">Cancel</button>
    </div>
  </div>
</div>
