<!DOCTYPE html>
<html ng-app="ta-console">

  <head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link data-require="bootstrap-css@3.1.1" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->
    <!-- <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <!-- <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <!-- <script data-require="knockout@*" data-semver="3.0.0" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.0.0/knockout-min.js"></script> -->

    <link data-require="bootstrap-css@3.2.0" data-semver="3.2.0" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/angular-datatables/dist/datatables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ladda/dist/ladda-themeless.min.css">
    <!-- Bower dependencies managed by grunt-wiredep -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/autofill-event/src/autofill-event.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/datatables-colvis/js/dataTables.colVis.js"></script>
    <script src="bower_components/datatables-colreorder/js/dataTables.colReorder.js"></script>
    <script src="bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/sockjs/sockjs.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/codemirror/lib/codemirror.js"></script>
    <script src="bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/ladda/dist/ladda.min.js"></script>
    <script src="bower_components/angular-ui-ladda/dist/ui-ladda.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->


    <script src="bower_components/codemirror/mode/perl/perl.js"></script>
    <script src="bower_components/codemirror/mode/xml/xml.js"></script>
    <script src="bower_components/codemirror/mode/markdown/markdown.js"></script>
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/home.js"></script>
    <script src="js/course.js"></script>
    <script src="js/problem.js"></script>
    <script src="js/problem_user.js"></script>
    <script src="js/graphs.js"></script>
    <script src="js/webwork_service.js"></script>
    <script src="js/hints_service.js"></script>
    <script src="js/messages.js"></script>
    <script src="js/sockjs_service.js"></script>
    <script src="js/webwork_directives.js"></script>
    <script src="js/hints_directives.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/nav.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title ng-bind="'TA Console NG - ' + $root.title">TA Console NG</title>
  </head>

  <body ng-controller="ApplicationCtrl">
    <nav class="navbar navbar-default" role="navigation" ng-controller="NavBarCtrl">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{current_course.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle">Courses <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="course in courses">
                  <a ui-sref="course({course: course})">{{course}}</a>
                </li>
              </ul>
            </li>
            <li><a href="/webwork2">Webwork</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if="logged_in"><a ui-sref="course({course: current_course.name})">{{user_id}}</a></li>
            <li ng-if="logged_in"><a ng-click="logout()" href="javascript:void(0);">Logout</a></li>
            <li ng-if="!logged_in"><a ui-sref="login({course: current_course.name})">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div id="messages_container">
        <div class="alert" ng-class="message.type" ng-repeat="message in messages" role="alert">
          {{message.body}}
        </div>
      </div>
      <div class="container" ui-view></div>
    </div>


  </body>
</html>
