.btn-full {
    width: 100%;
    min-height: 10em;
    margin-bottom: 0.5em;
}

.raw-pg-file {
    color: #ffffff;
}

svg circle.border{
    cursor: pointer;
}

input.correct{
    background-color: #88ff88;
}

input.incorrect{
    background-color: #FF9494;
}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

.st-selected{
    background: #216eff !important;
    color: white !important;
}

th.st-sortable{
    cursor: pointer;
}

a.ng-binding{
    cursor: pointer;
}

.loading-indicator {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0.7em; }

.loading-indicator:before {
    display: inline-block;
    margin: 0 0.4em;
    min-width: 1em;
    min-height: 1em;
    border-top: 4px solid #646464;
    border-right: 4px solid #e6e6e6;
    border-left: 4px solid #e6e6e6;
    border-bottom: 4px solid #646464;
    content: "";
    -webkit-animation: halfspin 1s ease infinite;
    -moz-animation: halfspin 1s ease infinite;
    -o-animation: halfspin 1s ease infinite;
    animation: halfspin 1s ease infinite;
    border-radius: 100%; }

@-webkit-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg); } }

@-moz-keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg); } }

@keyframes halfspin {
    to {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        transform: rotate(180deg); } }

.hint_html {
  background-color: #E0FAC0;
  clear:left;
  margin:10px;
  border:1px solid;
  padding:5px;
}

/* Hint editor stuff*/
.CodeMirror-wrap {
  border: 1px solid black;
  margin: 10px;
}

td.nostretch {
    width:1%;
    white-space:nowrap;
}
.part_button hr{
    margin: 0px;
}

