<input type="file" id="json_file">

<button type="button" class="btn" ng-click=readFile();"">Read File</button>
<h3>Problem</h3>
<div ng-bind-html="rendered_problem"></div>
<h3>Attempts</h3>
<div class="row">
  <div class="col-md-3 panel" ng-repeat="(student, attempt) in attempts">{{student}}, {{attempt.length}}</div>
</div>
<h3>Hints</h3>
<div class="container">
  <div class="row" ng-repeat = "hint in problem_data.hints">
    <p ng-bind-html="hint.rendered_html"></p>
    by {{hint.author}}</div>
</div>
