<h3>Problem {{problem_id}}</h3>
<div pg-file-preview pg-file="pg_file" seed="problem_seed" student-data="studentData" sock-answers="current_answers" box="box"></div>

<div class="row">
  <div class="col-md-12 panel panel-default" ng-repeat="(student, activity) in attempts">{{student}}, {{activity.length}} attempts
    <div student-timeline activity="activity" student="student" student-data="studentData"></div>
  </div>
</div>
<h3>Hints</h3>
<table class="table" id="hints_table" st-table="displayed_hints" st-safe-src="hints">
  <thead>
    <tr>
      <th class="st-sortable" st-sort="hint_id">ID</th>
      <th class="st-sortable" st-sort="pg_text">PG Text</th>
      <th class="st-sortable" st-sort="author">Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hint in displayed_hints">
      <td>{{hint.hint_id}}</td>
      <td>{{hint.pg_text}}</td>
      <td>{{hint.author}}</td>
      <td>
        <button type="button" class="btn btn-primary" ng-click="send_hint(hint)"><span class="glyphicon glyphicon-send"></span></button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
      </td>
    </tr>
  </tbody>
</table>
