<div class="row">

  <div class="col-sm-10">

    <section id="problem" style="padding-bottom:7px;">
      <h3><a ui-sref="set({course: course, set_id: set_id})">{{set_id}}</a> <a ui-sref="problem({course: course, set_id: set_id, problem_id: problem_id})">Problem {{problem_id}}</a> Part {{part_id}}</h3>
    </section>

    <div id="problem" pg-file-preview pg-file="pg_path" seed="1234" show-hint-buttons="false"></div>
    <section id="filter_code">
      <div ng-model="filter_function" ui-codemirror="" ui-codemirror-opts="editorOptions"></div>
      <div id="filter_output">{{filter_output}}</div>
      <div id="filtered_list">{{filtered_list}}</div>
    </section>
    <section id="hint_stac" style="padding-bottom:7px;">
      <h3>Hints Statistics</h3>
      <!--header of the table-->
      <div class="row  text-center" id="hint_statistics_table_header" style="border-bottom:2px solid #ccc;">
        <div class="col-md-6">
          <h5>Students Got No Hint</h5>
          <div class="row">
            <div class="col-md-6"><h5 style="margin-top:0px;">Students Attempting</h5></div>
            <div class="col-md-6"><h5 style="margin-top:0px;">Students Struggling (>3 tries)</h5></div>
          </div>
        </div>
        <div class="col-md-3 span2"><h5>Students Got Hints</h5></div>
        <div class="col-md-3 span2"><h5>Students Completed After Hints</h5></div>
      </div>
      <!--loading img-->
      <img src="ajax-loader.gif" ng-show="!grouped_answers"></img>
      <!--table content-->
      <div class="row text-center" id="hint_statistics_table_data">
        <!-- students attempting -->
        <div class="col-md-3">
          <div class="row" ng-repeat="a in attempting_student_list" style="padding-left:15px;">
            <a ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: a})">{{a}}</a>
          </div>
        </div>
        <!-- students struggling -->
        <div class="col-md-3">
          <div class="row" ng-repeat="s in struggling_student_list" style="padding-left:15px;">
            <a ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: s})">{{s}}</a>
          </div>
        </div>
        <!-- student got hints -->
        <div class="col-md-3">
          <div class="row" ng-repeat="t in trying_student_list" style="padding-left:15px;">
            <a ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: t})">{{t}}</a>
          </div>
        </div>
        <!-- students completed after got hints -->
        <div class="col-md-3">
          <div class="row" ng-repeat="su in success_student_list" style="padding-left:15px;">
            <a ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: su})">{{su}}</a>
          </div>
        </div>
      </div>
    </section>

    <section id="answers_group" style="padding-bottom:7px;">
      <h3>Answer Group</h3>
      <div class="row" id="correct_terms_row">
        <button type="button" class="btn btn-default" ng-class="{'btn-default': !term_selected(term), 'btn-primary': term_selected(term)}" style="margin-right: 1em" ng-repeat="term in correct_terms" ng-click="toggle_term(term)">{{term}}</button>
      </div>
      <!--header of the table-->
      <div class="row" id="students_table" style="border-bottom:2px solid #ccc;">
          <div class="col-md-1"><h5># of Students</h5></div>
          <div class="col-md-2"><h5>Signature</h5></div>
          <div class="col-md-2"><h5>Answers in group</h5></div>
          <div class="col-md-2"><h5>Attempted Students</h5></div>
          <div class="col-md-5"><h5>Linked Hint</h5></div>
      </div>
      <!--loading img-->
      <img src="ajax-loader.gif" ng-show="!grouped_answers"></img>
      <!--table content-->
      <div class="row" style="padding-top: 5px; padding-bottom: 5px; border-bottom:2px solid #ccc;" ng-repeat="item in shown_answers_array | orderBy:'-sum':ture">
        <!--1st column: the total number of students of each group-->
        <div class = "col-md-1">
          {{item.sum}}
        </div>
        <!--2nd column: signature of each group-->
        <div class = "col-md-2" style="word-wrap: break-word;">
          {{item.signature}}
        </div>
        <!--3rd column: list all the answers in the group-->
        <div class="col-md-4">
          <!-- expandable answer list -->
          <div class="panel-heading" style="padding:0;">
            <a data-toggle="collapse" data-parent="#users_list" data-target="#collapse{{$index}}">
              -->
            </a>
          </div>
          <div id ="collapse{{$index}}" class="panel-collapse collapse">
            <div class = "row" ng-repeat="(expression, users) in item.student_list">
              <div class = "col-md-6" style="word-wrap: break-word;">
                {{expression}}
              </div>
              <div class = "col-md-6" id="users_list">
                <!-- expandable student list -->
                <div class="panel-heading" style="padding:0;">
                    <a data-toggle="collapse" data-parent="#users_list" data-target="#collapse{{$parent.$index}}_{{$index}}">
                    show {{users.length}} student(s)-->
                    </a>
                </div>
                <div id="collapse{{$parent.$index}}_{{$index}}" class="panel-collapse collapse">
                  <div class="panel-body" style="padding:0; border:1px solid #ccc;">
                      <a ng-repeat="user in users" ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: user})">{{user}} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--4th column: linked hint for each group-->
        <div class="col-md-5" id="linked_hints">
          <!--id input box for hints--> <!-- need to implement database update here-->
          <div class = "row">
            <div class="col-md-3" id="linked_hints_id" style="padding-right:0px;">
              ID <input type="text" style="width:30px;" ng-model="input_id"/> :
            </div>
            <!--corresponding hint content in pg-->
            <div class="col-md-7" style="padding:0px;">
              {{match_hint_id(input_id)}}
            </div>
            <!--send button-->
            <div class="col-md-2" style="padding:0px;">
              <button type="button" class="btn btn-primary" ng-click="preview_send_hint(input_id,item)" ng-disabled="!validID()">Send</button>
            </div>
          </div>
          <!-- row to show history hints>
          <div class = "row">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#users_list" data-target="#history_hints_collapse{{$index}}">
                history hints>
              </a>
            </div>
            <div id="history_hints_collapse{{$index}}" class="panel-collapse collapse">
              <div class="panel-body" style="border:1px solid #ccc;">
                ID 000: history hints will be implement ASAP
              </div>
            </div>
          </div-->
        </div>
      </div>
      <!--div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div-->
    </section>

    <!--hint table-->
    <section id="hints">
      <div hint-table="" hints="hints" course="course" set-id="set_id" problem-id="problem_id" part_id="part_id" seed="1234" edited-hint="edited_hint" pg-header="pg_header" pg-footer="pg_footer" enable-send="false"></div>
      <div hint-editor="" hint="edited_hint" pg-file="pg_file" seed="1234" course="course" part-id="part_id"></div>
    </section>
  </div>

  <!--navigation-->
  <div class="col-sm-2 hidden-xs" id="page-nav" bs-scrollspy-list>
    <div id="sidenav" class="affix" style="margin-right: 30px;">
      <h3>Solution Expression</h3>
      <p class="well">{{answer_expression}}</p>
      <h3>Status</h3>
      <p><strong>{{completion_data.students_attempted}}</strong> students attempted this part</p>
      <p><strong>{{completion_data.students_completed}}</strong> students completed this part</p>
      <h3>Navigation</h3>
      <ul class="nav nav-stacked nav-pills bs-sidenav" >
        <li><a href="#problem" ng-click="scrollTo($event)">Problem</a></li>
        <li><a href="#answers_group" ng-click="scrollTo($event)">Answer Group</a></li>
        <li><a href="#hints" ng-click="scrollTo($event)">Hints</a></li>
      </ul>
    </div>
  </div>

</div>
