<h3>Problem {{problem_id}}</h3>
<div pg-file-preview pg-file="problem_data.pg_file" seed="1234" student-data="studentData"></div>
<h3>Attempts</h3>
<table class="table table-striped" id="attempts_by_part" datatable="ng" dt-options="dtOptions">
  <thead>
    <tr>
      <th>Part</th>
      <th>Number of Attempts</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(part, attempts) in attemptsByPart" dt-rows="">
      <td>{{part}}</td>
      <td>{{attempts}}</td>
    </tr>
  </tbody>
</table>

<h3>Student Traces</h3>
<div class="row">
  <div class="col-md-12 panel panel-default" ng-repeat="(student, activity) in attempts">{{student}}, {{activity.length}} attempts
    <div student-timeline activity="activity" student="student" student-data="studentData"></div>
  </div>
</div>

<h3>Hints</h3>
<div class="container">
  <div class="row" ng-repeat = "hint in problem_data.hints">
    <p ng-bind-html="hint.rendered_html"></p>
    by {{hint.author}}</div>
</div>
