<div class="row">
  <div class="col-sm-10">
    <section id="problem">
      <h3><a ui-sref="course({course: course})">{{course}}</a> / <a ui-sref="set({course: course, set_id: set_id})">{{set_id}}</a> / Problem {{problem_id}}</h3>
      <a class="btn btn-info" ng-href="{{download_json_url}}">Download Problem Data (JSON)</a>
      <div id="problem-content" pg-file-preview pg-file="problem_data.filename" seed="1234" student-data="studentData" show-hint-buttons="false"></div>
      <h3>Attempts</h3>
      <table class="table table-striped" id="attempts_by_part" datatable="ng" dt-options="dtOptions">
        <thead>
          <tr>
            <th>Part</th>
            <th># Submissions</th>
            <th># Attempting</th>
            <th># Hints Sent</th>
            <th># Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(part, attempts) in attemptsByPart" dt-rows="">
            <td>
              <a ui-sref="problem_part({course: course, set_id: set_id, problem_id: problem_id, part_id: part})">
                {{part}}
              </a>
            </td>
            <td>{{attempts.submitted}}</td>
            <td>{{attempts.attempting}}</td>
            <td>{{attempts.hint_history}}</td>
            <td>{{attempts.completed}}</td>
          </tr>
        </tbody>
      </table>
    </section>
    
    <section id="active_students">
      <h3>Active Students</h3>
      <table class="table" id="students_table" st-table="displayed_students" st-safe-src="unassigned_students">
        <thead>
          <tr>
            <th class="st-sortable" st-sort="student_id">Student</th>
            <th class="st-sortable" st-sort="problem_id">Current Problem</th>
            <th class="st-sortable" >Time since last incorrect</th>
            <th class="st-sortable" st-sort="total_tries">Total incorrect tries</th>
            <th class="st-sortable" st-sort="recent_tries">Incorrect tries (last 15 mins)</th>
            <th class="st-sortable" >Time since last hint</th>
	        <th class="st-sortable" >Online</th>
          </tr>
        </thead>
        <tbody>
          <tr st-select-row="row" st-select-mode="multiple" ng-repeat="student in displayed_students">
            <td><a ui-sref="problem_user({course: course, set_id: set_id, problem_id: student.problem_id, user_id: student.student_id})">{{student.student_id}}</a></td>
            <td>{{student.problem_id}}</td>
            <td am-time-ago="student.time_lastincorrect" am-preprocess="unix"></td>
            <td>{{student.total_tries}}</td>
            <td>{{student.recent_tries}}</td>
            <td am-time-ago="student.time_lasthint" am-preprocess="unix"></td>
            <td>{{student.is_online}}</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
	      <tr>
	        <td colspan="7">
		      <div st-pagination="" st-items-by-page="20" st-displayed-pages="7"></div>
	        </td>
	      </tr>
        </tfoot>
      </table>
    </section>

    <section id="historical_data">
      <h3>All Students</h3>
      <table class="table" id="all_students_table" st-table="displayed_historical_students" st-safe-src="historical_students">
        <thead>
          <tr>
            <th class="st-sortable" st-sort="student_id">Student</th>
            <th class="st-sortable" st-sort="last_attempt_time">Time since last incorrect</th>
            <th class="st-sortable" st-sort="total_tries">Total incorrect tries</th>
            <!-- <th class="st-sortable" >Time since last hint</th> -->
	        <th class="st-sortable" >Online</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in displayed_historical_students">
            <td><a ui-sref="problem_user({course: course, set_id: set_id, problem_id: problem_id, user_id: student.student_id})">{{student.student_id}}</a></td>
            <td am-time-ago="student.last_attempt_time"></td>
            <td>{{student.total_tries}}</td>
            <!-- <td am-time-ago="student.last_answer.timestamp"></td> -->
            <td>{{student.is_online}}</td>
            <td></td>
          </tr>
        </tbody>
        <tfoot>
	      <tr>
	        <td colspan="6">
		      <div st-pagination="" st-items-by-page="10" st-displayed-pages="10"></div>
	        </td>
	      </tr>
        </tfoot>
      </table>
    </section>

    <!-- <div class="row">
    <div class="col-md-12 panel panel-default" ng-repeat="(student, activity) in attempts">{{student}}, {{activity.length}} attempts
    <div student-timeline activity="activity" student="student" student-data="studentData"></div>
    </div>
    </div> -->
  </div>
  
  <div class="col-sm-2 hidden-xs" id="page-nav" bs-scrollspy-list>
    <div id="sidenav" class="affix">
      <h3>Navigation</h3>
      <ul class="nav nav-stacked nav-pills bs-sidenav" >
        <li><a href="#problem" ng-click="scrollTo($event)">Problem {{problem_id}}</a></li>
        <li><a href="#active_students" ng-click="scrollTo($event)">Active Students</a></li>
        <li><a href="#historical_data" ng-click="scrollTo($event)">All Students</a></li>
      </ul>

      <h3>Status</h3>
      <p><strong>{{completion_data.students_attempted}}</strong> students attempted this problem</p>
      <p><strong>{{completion_data.students_completed}}</strong> students completed this problem</p>
    </div>
  </div>
</div>
