<h3><a ui-sref="course({course: course})">{{course}}</a> / <a ui-sref="set({course: course, set_id: set_id})">{{set_id}}</a> / <a ui-sref="problem({course: course, set_id: set_id, problem_id: problem_id})">Problem {{problem_id}}</a> / Student {{user_id}}</h3>
<h4><a ng-href="{{user_webwork_url}}" target="_blank">View on Webwork</a></h4>
<div pg-file-preview pg-file="pg_path" seed="problem_seed" student-data="studentData" box="box" psvn="psvn"></div>

<div class="row">
  <div class="col-md-12 panel panel-default" ng-repeat="(student, activity) in attempts">{{student}}, {{activity.length}} attempts
    <div student-timeline activity="activity" student="student" student-data="studentData"></div>
  </div>
</div>

<div id="attempts_area">
  <h3>Attempts</h3>
  <ul class="nav nav-pills" id="switch_parts">
    <li class="part_button" ng-class="{active: part == current_part}" ng-repeat="(part, answers) in answersByPart" ng-click="showPart(part)"><a>Part {{part}}<hr>{{answers.length}} Tries</a></li>
  </ul>

  <table class="table table-bordered" id="part_{{part}}" st-table="displayed_answers" st-safe-src="answersByPart[current_part]">
    <thead>
      <tr>
        <th class="st-sortable" st-sort="timestamp">Timestamp</th>
        <th class="st-sortable" st-sort="answer_string">Answer</th>
        <th class="st-sortable" st-sort="score">Correct</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="answer in displayed_answers">
        <td class="nostretch">{{answer.timestamp}}</td>
        <td  >{{answer.answer_string}}</td>
        <td class="nostretch">{{answer.score}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div hint-table="" hints="hints" selected-box="box" course="course" set-id="set_id" problem-id="problem_id" user-id="user_id" seed="problem_seed" edited-hint="edited_hint" pg-header="pg_header" pg-footer="pg_footer">
</div>

<div hint-editor="" hint="edited_hint" pg-file="pg_text" seed="problem_seed" course="course">
</div>
